{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Item Search</title>
    <link rel="stylesheet" href="{% static 'items/css/app.css' %}">

</head>
<h1>Dungeons and Dragon DM Tool</h1>
<nav><a href="{% url 'home'%}">Home</a> <a href="{% url 'monster_search'%}">Monsters</a> <a href="{% url 'item_search'%}">Items</a> <a href="{% url 'create_character'%}">NPC</a></nav>
<body>
    <h2>Item Search</h2>
    <p>Enter an item's name into this simple form to get all of the information about that particular item. Remember to type in the right item name, or else it may not be able to retrieve the information! You can give it a try using some simple equipment like shortsword, longbow or mace to test it out!</p>
    <form action="{% url 'item_search' %}" method="get">
        <label for="search_term">Search for an item:</label>
        <input type="text" id="search_term" name="search_term">
        <button type="submit">Search</button>
    </form>

    {% if item_data %}
        <h3>{{ item_data.name }}</h3>
        <div class="section">
            <h4>Basic Information</h4>
            <div class="property">Damage: {{ item_data.damage.damage_dice }}</div>
    
            <div class="property">Damage Type: {{ item_data.damage.damage_type.name }}</div>

            <div class="property">Range: {{ item_data.range.normal }}</div>

            <div class="property">Weapon Category: {{ item_data.weapon_category }}</div>

    
            <!-- Add more basic information properties as needed -->
        </div>
    
    
    {% elif error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <p>Sorry, we couldn't find an item with that name, please check your spelling and try again.</p>
    {% endif %}
</body>
</html>