{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Item Search</title>
    <link rel="stylesheet" href="{% static 'items/css/app.css' %}">

</head>
<nav><a href="{% url 'home'%}">Home</a> <a href="{% url 'monster_search'%}">Monsters</a> <a href="{% url 'item_search'%}">Items</a> <a href="{% url 'create_character'%}">NPC</a></nav>
<body>
    <h1>Item Search</h1>
    <p>Enter an item's name into this simple form to get all of the information about that particular item.</p>
    <form action="{% url 'item_search' %}" method="get">
        <label for="search_term">Search for an item:</label>
        <input type="text" id="search_term" name="search_term">
        <button type="submit">Search</button>
    </form>

    {% if item_data %}
        <h2>{{ item_data.name }}</h2>
        <div class="section">
            <h2>Basic Information</h2>
            <div class="property">Damage:</div>
            <div class="value">{{ item_data.damage.damage_dice }}</div>
    
            <div class="property">Damage Type:</div>
            <div class="value">{{ item_data.damage.damage_type.name }}</div>

            <div class="property">Range:</div>
            <div class="value">{{ item_data.range.normal }}</div>

            <div class="property">Weapon Category:</div>
            <div class="value">{{ item_data.weapon_category }}</div>
    
            <!-- Add more basic information properties as needed -->
        </div>
    
    
    {% elif error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <p>Sorry, we couldn't find an item with that name, please check your spelling and try again.</p>
    {% endif %}
</body>
</html>