/*   ----- Imports  -----  */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Quicksand:wght@400;600&display=swap');

/*   ----- Variables  -----  */
:root {
    --sk-orange: #f2b705cb; 
    --sk-beige: #FCEBCD;
    --sk-black-op: #141414;
    --sk-shadow-gray: #3a372f;
    --sk-yellow: #ebd573; 
  }

/* 
This style sheet can be used for reference
but not for an assignment.
*/

  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
  background-color:var(--sk-black-op);
  background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    color:var(--sk-beige);
    font-family: 'Quicksand', sans-serif; /* Define with at least one font name and its related generic family name.*/
    margin: 10%;

  }
  
  /*  ----- Page layout blocks -----  */
  header {
    color: var(--sk-yellow);
    background-color: var(--sk-black-op);
    border:2px solid var(--sk-yellow);
    margin: 1dvh 1dvw;
    padding: 5px;
  }
  header .svg-logo{
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0 2px 0 2px;
  }

  main {    
    background-color: var(--sk-black-op);
    border:2px solid var(--sk-yellow);
    margin: 1dvh 1dvw;
    padding: 5px;}

  article {  
    padding: 5px;
  }

  a {    
    color: var(--sk-orange);
  }

  footer {    
    color: var(--sk-beige);
    background-color: var(--sk-shadow-gray);
    border:2px dashed var(--sk-yellow);
    margin: 1dvh 1dvw;
    padding: 0 0 0 5px;
  }
  

  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    text-align:center;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    
  }

  nav a {  
    color: var(--sk-black-op);
    font-weight: bold;  
    margin: 5vh 2vw;
    padding: 1vh 1vw;
    background-color: var(--sk-yellow);
    text-decoration: none;
    border: 5px solid var(--sk-orange);
  }

  
  nav a:hover {
    color: var(--sk-black-op);
    font-weight: bold;  
    margin: 5vh 2vw;
    padding: 1vh 1vw;
    background-color: var(--sk-beige);
    text-decoration: none;
    border: 5px solid var(--sk-beige);
  }


  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
    color:var(--sk-yellow);} 

  

  
  /*  ----- Table ----- */
  table {
    background-color: var(--sk-shadow-gray);
    border:4px dashed var(--sk-orange);
    margin: 1dvh 1dvw;
    padding: 5px;
    width: 98%;
  }
  caption {
    margin: 2px;
    padding: 2px;
    font-size: 1.1em;
    color: var(--sk-beige);
  }
  thead {
    background-color: var(--sk-orange);
    border:4px solid var(--sk-black-op);
    margin: 2dvh 2dvw;
    padding: 5px;
    font-size: large;
    color: var(--sk-black-op)
    }
  tbody {background-color: var(--sk-black-op);
    border-bottom:4px solid var(--sk-black-op);
    margin: 1dvh 1dvw;
    padding: 5px;}
  
  tr th {
    margin: 1px;
    padding: 1px;
    border-left: 2px solid var(--sk-black-op);
  }
  tr td {
    margin: 1px;
    padding: 3px;
    border-left: 2px solid var(--sk-orange);

  }

  td {
    margin-left: 1vw;
    padding-left: 2px;}
 
  
  
  /*  ----- Form ----- */
 
  fieldset {
    border:2px solid var(--sk-orange);
    margin: 2vh;
    padding: 2%;
    display: block;
  }
    legend {
      color: var(--sk-orange);
      font-size: 1.5em;
    }
  label {
    display: block;
    margin-top: 1vh;
    font-size: 1em;
  }
  button {
    font-size: 130%;
    margin: 2%;
    padding: 5px;
    font-family:inherit;
    color: var(--sk-black-op);
    background-color: var(--sk-orange)
  }
  input, textarea, select {
    font-size: 110%;
    padding: 1%;
    margin: 2%;
    font-family:inherit;;
    color: var(--sk-black-op);
    background-color: var(--sk-beige);

  }
  textarea {
    width: 60%;
    height: 20%;
  }
  select, option {
    font-size: 120%;
    padding: 2px;
  }

  :focus {
    background-color: var(--sk-beige);
  }
  *:required {
    border: 2px dashed var(--sk-orange);
  }
  label.required:after {
    content:" *";
    color: var(--sk-yellow)
  }
  input:invalid {
    border: 2px solid red;
  }
  input:valid {
    border:2px solid green;
  }
  input::placeholder{
    color:var(--sk-black-op);
  }
  input[type=checkbox]:checked + label {
    color: green;
    font-style:italic;
  }
  input:disabled {
    background: repeating-linear-gradient(180deg, --sk-shadow-gray, --sk-yellow 4px, #999999 22px);
  }
  input:enabled {
    background: var(--sk-beige)
  }

  @media only screen and (max-width: 840px) {
    fieldset {
      width: 90%; /* Adjust the width as needed */
      margin: 2vh auto;
    }
  
    label,
    input,
    textarea,
    select,
    button {
      width: 100%;
      box-sizing: border-box;
    }
  
    textarea {
      width: 100%;
      height: 100px; /* Adjust the height as needed */
    }
  }

  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .local{
    display: flex;
    flex-flow: row wrap;
    border: none;
    margin: 1px;
    padding: 1px;
    border: 5px dashed var(--sk-black-op);
    background-color: var(--sk-orange);
  }
  .local a{
    color: var(--sk-black-op);
    margin: 2vw 2vh;
    padding: 5px;
    border: 2px solid var(--sk-black-op);
    background-color: var(--sk-orange);
  }
  .local a:hover{
    color: var(--sk-orange);
    display: flex;
    text-decoration: underline;
    margin: 2vw 2vh;
    padding: 5px;
    border: 2px solid var(--sk-orange);
    background-color: var(--sk-black-op);
  }
  .gallery {
    display: flex;
    flex-flow: row wrap;
    margin:1vh 1vw;
    padding:1px;
    border:2px solid var(--sk-orange);
  }
  .gallery figure{
    width: 320px;
    margin: 5px;
    padding: 2px;
    border:2px solid var(--sk-shadow-gray);
    background-color: var(--sk-black-op);
    color: var(--sk-orange)
  }

  .gallery img{
    width: 100%;

  }


  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}



/* NAVIGATION
Simple changes to make anchors look like buttons. 
*/
nav {}
nav a {margin-right:3%;}
nav a:hover {}
nav a:target {
    color: var(--sk-black-op);
    font-weight: bold;  
    margin: 5vh 2vw;
    padding: 1vh 1vw;
    background-color: var(--sk-beige);
    text-decoration: none;
    border: 5px solid var(--sk-beige);
  }

/* TABLE */
table {width: 98%}
caption {}
tr td, td th {border-bottom:1px dotted whitesmoke;}
tr:nth-child(even){}
th {width:auto}


/* FORM */
fieldset {}
legend {}
label {display:block;margin-top:3%;}
input {}
button {}
button:hover {}
